.about {
	display: flex;
	flex-direction: column;
	background-color:  #EDF5E1;
	border-radius: 3px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	height: 70vh;
	text-align: center;
	padding: 0.83em;
	padding-top: 0em;
}

.about-header {
	
}

.about-text {

}

.about-list {
	list-style: none;
}