.login-form-input {
	display:inline-block;
	border: 2px solid lightblue;
	border-left: 0;
	border-right: 0;
	border-top: 0;
}

.registration-form-input {
	display:inline-block;
	border: 2px solid lightblue;
	border-left: 0;
	border-right: 0;
	border-top: 0;
}

.submit-form-input {
	display:inline-block;
	border-left: 0;
	border-right: 0;
	border-top: 0;
}

.registration-form-input:hover {
	background-color:  lightblue;
	border-radius: 3px;
}


fieldset {
	border:none;
	margin:0.25em;
	padding:0.25em;
}

.form-error-container {
	position: relative;
	width: 0;
	height: 0;
}

.form-error {
	position: absolute;
	top: -1.50em;
	left: 10.5em;
}


