.action-display-main {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}

.action-display-header {
	margin: 0;
	padding-bottom:0.73em;
	background-color:  #EDF5E1;
	text-align: center;
	width: 100%;
}

.action-display-panel {
	display: flex;
	justify-content: space-between;
}

.action-display-controller {
	width: 100%;
	height: 68vh;
	overflow-y: scroll;
	background-color: #EDF5E1; 
	border-radius: 3px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.action-display-controller::-webkit-scrollbar { 
	/* This is the magic bit */
	display: none;
  }
