.registration{
	text-align: center;
	margin:  0 auto;
	padding: 0.83em;
	background-color:  #EDF5E1;
	border-radius: 3px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.registration-container {
	background-color:  ivory;
	border-radius: 3px;
}

.registration-container > h2{
	margin-top:0;
	padding-top: 0.83em;
}