header, .right-header, .left-header, .middle-header {
	display: flex;
}

header {
	flex-direction: column;
	justify-content: space-around;
	background-color:  whitesmoke;
	border: 1px solid #41b3a3;
	border-radius: 3px;
	margin-bottom: 0.5em;
	margin: auto;
}

.left-header {
	flex-direction: column;
	order: 1;
}

.left-header-left {
	order: 1;
}

h1 {
	text-align: center;
	margin: 0.25em auto;
}


.left-header-right {
	text-align: center;
	margin: 0.25em auto;
	order: 2;
}

.right-header {
	margin: 0.25em 0;
	order: 2;
	justify-content: center;
}


@media screen and (min-width: 600px) {
	header {
		flex-direction: row;
		justify-content: space-evenly;
	}

	.left-header {
		justify-content: center;
	}
}



