header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width:  100%;
	background-color:  lightblue;
	border: 1px solid grey;
	margin-bottom: 0.5em;
}

h1 {
	margin: 0.66em;
	justify-content: center;
}
