.story-view-container {
	display: flex;
	flex-direction: column;
}

.story-container {
	border-radius: 3px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding: 0.83em;
	padding-top:0;
	display: flex;
	flex-direction: column;
	background-color:  #EDF5E1;
}

.info-container {
	background-color:  ivory;
	border-radius: 3px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	display: flex;
	flex-direction: row;
	/* margin: 0.83em;
	margin-top:0; */

}

.story-title-author {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 0 auto;
}

.story-title, .story-author {
	text-align: center;
	margin: 0 auto;
}

.story-title {
	font-size: 3vh;
	padding: 0.33em;
	margin: 0.15.em;
}

.story-author {
	padding: 0.33em;
	margin: 0.15.em;
}

.story-text {
	background-color:  ivory;
	border-radius: 3px;
	height: 60vh;
}


.button-holder {
	padding: 0.5em;
	text-align: center;
}

.edit-btn {
	text-transform: uppercase;
	margin: 0.25em;
}