.story-view-container {
	display: flex;
	flex-direction: column;
}

.story-container {
	display: flex;
	flex-direction: column;
}

.info-container {
	display: flex;
	flex-direction: row;
}

.story-title-author {
	text-align: center;
	margin: 0 auto;
}

.story-title, .story-author {
	text-align: center;
	margin: 0 auto;
	padding: 0.33em;
	margin: 0.15.em;
}

.story-text {
	margin: 0.5em 1.0em;
}

.edit-btn {
	
}