 .story-card {
	background-color: ivory;
	border-radius: 3px;
	margin: 1.0em;
	margin-top: 0em;
	padding: 0.33em;
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin: 0.5em;
}


. date > h5 {
	margin: 0.3em;
}



.title-author {
	display: flex;
	flex-direction: column;
}

.title-author > h3 {
	align-self: flex-start;
	margin-top: 0.33em;
	margin-bottom: 0.33em;
}

.title-author > h4 {
	align-self: flex-start;
	margin-top: 0.33em;
	margin-bottom: 0.33em;
}

.card-author {
	
}
/*

.card-title {
	order: 1;
	display: inline-block;
	border: 1px solid black;
	padding: 0.165em;
	margin: 0.25em;
}

.card-author {
	order:2;
	display: inline-block;
	background-color: lightcoral;
	border: 1px solid black;
	padding: 0.165em;
	margin: 0.25em;
}

.date {
	align-self: flex-start;
	background-color: whitesmoke;
	display: flex;
	font-size: 0.83em;
	flex-direction: column;
	justify-content: space-between;
}

.card-created, .card-updated {
	padding: 0.165em;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

 */


 @media screen and (min-width: 600px) {
	.info {
		flex-direction: row
	}

	.date {
		justify-content: flex-end;
	}

	.date > h5 {
		
	}
}