.submit-work-form {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

	flex-direction: column;
	background-color:  #EDF5E1;
	border-radius: 3px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.submit-form-label {
	text-transform: capitalize;
	margin-right: 0.5em;
}

.title-fldst{
	order:1;
}

.genre-fldst{
	order:2;
}

.text-fldst{
	order:3;
	height: 60vh;
	margin-bottom: 0;
}


.button-holder {
	order:4;
	padding-top: 2.0em;
	padding-bottom: 1.0em;
	text-align: center;
}

.submit-btn{
	text-transform: uppercase;
	margin: 0.25em;
}

textarea {
	resize: none;
	width: 100%;
	height: 100%;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
	border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
	border-image: none;
	border-radius: 6px 6px 6px 6px;
	border-style: none solid solid none;
	border-width: medium 1px 1px medium;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
	color: #555555;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 1em;
	line-height: 1.4em;
	padding: 0.75em 0.35em 0.75em 0.50em;
	margin: 0;
	transition: background-color 0.2s ease 0s;
}