* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
}

body {
	margin: 0;
	padding: 0;
	color: #555;
	background-color: #5CDB95;
}

#root {
	margin: 0 auto;
	text-align: center;
	max-width: 50em;
	font-family: "Helvetica", "Arial", sans-serif;
	line-height: 1.5;
	padding: 0.5em 0.33em;
} 


a {
	text-decoration: none;
}

h1 {
	font-size: 1.75em;
}


/*
COLOR SCHEME

#e27d60 red stuff
#85dcb light blue stuff
#e8a87c something warm
#c38d9e soft dark pink stuff
#41b3a3 soft teal blue stuff

*/